html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
html {
    background-image: url(seamless_paper_texture.png);
}
body {
    display: grid;
}
body * {
    text-align: center;
}
.screen {
    display: none;
}

input {
    border-radius: 100px;
    background-color: transparent;
    outline: none;
}

.text {
    color: #efcf7c;
    font-family: Courier New, Courier, monospace;
    text-shadow: 0 -1px 2px #38301d;

    justify-self: center;
    align-self: center;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title {
    /* color: black; */
    font-weight: bold;
    font-size: 5vmin;
}
.date {
    font-size: 5vmin;
}
.send {
    font-size: 37.5vmin;
}